In [ ]:
# basic functions
# def func_name(parameters):
#     """Docstring"""
#     # Function body
#     return expression

In [1]:
def add(a,b):
    return a+b
result = add(2,4)
print(result)

6

In [ ]:
# parameters vs args
# parameters are placeholders
# arguments are values that are supplied to parameters

In [3]:
def even_or_odd(x):
    if x%2==0:
        print("even")
    else:
        print("odd")
result = even_or_odd(12)

even

In [5]:
# Default parameters
def greet(name):
    print(f"Hello {name}")

greet("S")

Hello S

In [8]:
# variable length arguments

def print_num(*num_test):
    for num in num_test:
        print(num)

In [7]:
print_num(1,2,3,4,5,"S")

1
2
3
4
5
S

In [ ]:
# positional args : args that must be passed in correct order, order change then result change
# keyword args: you explicitly specify the name of parameter like a=3 and b=5 order doesnt matter
# keyword args improve readability, safer for long funcs

In [11]:
# positional arguments
def print_num1(*args):
    for num in args:
        print(num)

In [12]:
print_num1(1,2,3,4,5,"S")

1
2
3
4
5
S

In [13]:
# keyword arguments
def print_deets(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [14]:
print_deets(name="S",age=12)

name:S
age:12

In [ ]:
# Closures
# A function that remembers variables from its enclosing scope even after scope is gone

In [45]:
def multiplier(n):
    def mul(x):
        return n*x
    return mul

double = multiplier(2)
print(double(5))

10

In [ ]:
# pure vs impure functions
# pure: depends only on inputs, produces same output for same input
# def sq(x):
#   return(x*x)
# impure: modifies external state, reads/writes fro outside scope, diff outputs for same input
# def add_item(x):
#   nums.append(x)

#### Lambda

In [ ]:
# small anonymous functions 
# can have any number of arguments but only 1 expression
# used for short operations

In [15]:
# syntax
# lambda arguments: expression

In [ ]:
def add(a,b): # normal function
    return a+b

In [16]:
add = lambda a,b:a+b
type(add)
print(add(2,4))

6

In [17]:
# even
even = lambda x:x%2==0
print(even(6))

True

In [19]:
# map - applies a functiob to all items in the list
num = [1,2,3,4,5]
def sq(num):
    return num**2
sq(2)

4

In [21]:
# with map
list(map(lambda x:x**2,num))

[1, 4, 9, 16, 25]

#### Maps

In [ ]:
# applies a function to all items in a list
# returns map object
# contains 2 arguments

In [22]:
# example sq of numbers
num = [1,2,3,4]
sq = list(map(lambda x:x**2,num))
print(sq)

[1, 4, 9, 16]

In [24]:
# map multiple iterables
num1 = [1,2,3]
num2 = [4,5,6]
added_list = list(map(lambda n1,n2:n1+n2, num1, num2))
print(added_list)

[5, 7, 9]

In [25]:
# map to convert a list of strings to integers
str_num = ['1','2','3']
int_n = list(map(int,str_num))
print(int_n)

[1, 2, 3]

In [26]:
# convert into uppercase
w = ['a','b','c']
upper = list(map(str.upper,w))
print(upper)

['A', 'B', 'C']

In [29]:
def get_name(person):
    return person['name']

people = [
    {'name':'s','age':12},
     {'name':'s1','age':14}
]
list(map(get_name,people))

['s', 's1']

#### filter

In [30]:
# constructs an iterator from elemts of an iterable 
# used to filter out items from a list based on condition

In [31]:
def even(num):
    if num%2==0:
        return True

In [32]:
even(6)

True

In [35]:
# filter syntax list(filter(func_name,var/datastr name))

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst)) # filters even nos

[2, 4, 6, 8, 10]

In [37]:
# filter with lambda function
num = [1,2,3,4,5,6,7,8,9,10]
greater_than_five = list(filter(lambda x:x>5,num))
print(greater_than_five)

[6, 7, 8, 9, 10]

In [38]:
# filter to check if the age is greater than 25 in dictionaries
people = [
    {'name':'Jane','age':32},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
]

def age_greater_than_25(person):
    return person['age']>25

result = list(filter(age_greater_than_25,people))
print(result)

[{'name': 'Jane', 'age': 32}, {'name': 'Jack', 'age': 33}]

In [46]:
# Examples
# 1. func that returns smallest no, largest no and avg no
nums=[1,2,3,4,5,6,7,8,9,10]
def the_no(nums):
    maxi = max(nums)
    mini = min(nums)
    avg = sum(nums)/len(nums)
    return maxi,mini,avg
the_no(nums)

(10, 1, 5.5)

In [ ]:
# Black belt challenge
# given a list of student dicts, return a dict grouping students by passing status

In [47]:
# input
students = [
    {"name":"A", "score":80},
    {"name":"B", "score":55},
    {"name":"C", "score":91},
    {"name":"D", "score":45},
]

In [51]:
result = {"pass":[],"fail":[]}
for i in students:
    name = i["name"]
    score = i["score"]
    if score > 60:
        result["pass"].append(name)
    else:
        result["fail"].append(name)
print(result)

{'pass': ['A', 'C'], 'fail': ['B', 'D']}

In [ ]:
# given a list of purchase transactions
# each trans is a dict with
# user 
# amount

In [52]:
# input
transactions = [
    {"user": "A", "amount": 50},
    {"user": "B", "amount": 20},
    {"user": "A", "amount": 10},
    {"user": "C", "amount": 90},
    {"user": "B", "amount": 30},
]

In [56]:
result = dict()

for trans in transactions:
    username = trans["user"]
    total= trans["amount"]
    if username not in result:
        result[username] = 0
        result[username] += total
    else:
        result[username] += total

print(result)

{'A': 60, 'B': 50, 'C': 90}