In [1]:
# Loops
range(0,5)

range(0, 5)

In [3]:
# for loop
for i in range(5): 
    print(i)

0
1
2
3
4

In [5]:
for i,idx in enumerate(range(1,5)):
    print(i,idx)

0 1
1 2
2 3
3 4

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,10,2): # print from 1 to 9 with jump of 1 ele
    print(i)

1
3
5
7
9

In [9]:
for i in range(1,10,-1):
    print(i)

In [10]:
for i in range(10,1,-2): # print from 10 to 2 with jump of 1 ele
    print(i)

10
8
6
4
2

In [14]:
# strings
str = "abcde fghi"

In [ ]:
for i in str: # space is also counted
    print(i)

a
b
c
d
e

f
g
h
i

In [16]:
# while loops
# continues as long as the condition is true
count = 0 
while(count<5):
    print(count)
    count+=1

0
1
2
3
4

In [21]:
# break stmt
# break statement will exit the loop

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [22]:
# continue
# continue statement will skip the current iteration and continues with next

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [23]:
# pass
# pass statement is a null op. nothing happens here
def add(a,b):
    pass

In [25]:
# nested loops
for i in range(4): # i is from 0 to 3
    for j in range(3): # j is from 0 to 2
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2

In [ ]:
# Examples
# 1. sum of first n natural numbers using while and for loop
# for loop
sum = 0
for i in range(11): # i is from 0 to 10
    sum = sum + i
print(sum)

55

In [30]:
# while loop
sum = 0
num = 10
count = 1 # you need count stop infinite loop
while(count<=num):
    sum+=count
    count+=1
print(sum)

55

In [ ]:
# 2. Prime nos: between 1 and 100
# prime no logic - a number that has no factors 2,3,5,7,11.... 
# it cannot be divided by any number - i.e. doesnt return 0
for n in range(1,101): # numbers from 1 to 100
    if n>1: # base case
        for i in range(2,n): # run from 2 to n-1
            if(n%i==0): # if it is divisible then break
                break
        else:
            print(n) # else print the no

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97