### SQL joins

In [ ]:
Combining rows by matching keys
Inner Join
Left Join
Right Join
Full Join
Join + Where
Join + Group by

Users Table
user_id name
1       A
2       B
3       C

Orders Table
order_id user_id amount
10          1      50
11          2      25

#### Inner join

In [ ]:
# Inner Join - Matching rows only in both tables - something like intersection
# selects user name and amount where username is in user table and amount is in orders table
SELECT u.name, o.amount
FROM users u
INNER JOIN orders o
ON u.id = o.user_id;

Output: 
name amount
A       50
B       50

When to use
-> when you want only users who have orders
-> want matching data only

In [ ]:
# Left Join 
# Return all rows from left table & matching rows from right
# if no match then null
SELECT u.name, o.amount
FROM users u
LEFT JOIN orders o
ON u.id = o.user_id;

Output:
name    amount
A         50
B         50
C         NULL

In [ ]:
# Finding users with no orders
SELECT u.name
FROM users u
LEFT JOIN orders o
ON u.id = o.user_id
WHERE o.user_id IS NULL;

When to use
-> When we want all users 
-> finding missing relationships

In [ ]:
# Right join
# All rows from right table & matches from left
# if no match then NULL
SELECT u.name, o.amount
FROM users u
RIGHT JOIN orders o
WHERE u.user_id = o.user_id;

Output
name amount
A       50
B       25

When to use
-> only when right table is prinary

In [ ]:
# Full outer join
# Return everything from both tables - something like union
# matching rows are combined
# non matched rows are NULL
SELECT u.name, o.amount
FROM users u
FULL OUTER JOIN orders o
WHERE u.user_id, o.user_id;

When to use
-> When all data is needed regardless of relationship
-> for data reconcilation
-> to debug matches
-> some dbs use UNION

In [ ]:
# JOIN + WHERE
Ex: get users with orders > 30
SELECT u.name, o.amount
FROM users u
INNER JOIN orders o
ON u.user_id = o.user_id
WHERE o.amount>30

In [ ]:
# JOIN + Group by
Ex: total spend per user
SELECT u.name, SUM(o.amount) as total_amount
FROM users u
LEFT JOIN orders o
ON u.user_id = o.user_id
GROUP BY u.name;

In [ ]:
Ex: Return users with orders and amount > 40
SELECT u.name, o.amount
FROM users u
INNER JOIN orders o
ON u.user_id = o.order_id
WHERE o.amount > 40;